body {
    width: 100vw;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background-color: #b1e2ee; /* Jasnoszare tło */
    color: #333;
    margin: 0;
    padding: 0;
}
form {
    width: 30vw;
    margin: 10vh auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
    color: #333;
    font-size: 1.2vw;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #e74c3c; /* Czerwony */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #c0392b;
}

button:active {
    background-color: #7c170c;
}

p {
    text-align: center;
    margin-top: 10px;
    font-size: 1.2vw;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    color: #2980b9;
}

.error {
    color: red;
    text-align: center;
    margin-top: 10px;
    font-size: 1.2vw;
}

.action {
    position: absolute;
    float: left;
    width: 10vw;
    height: 7.2vh;
    padding-top: 2.8vh;
    background-color: #3498db; /* Jasnoniebieski */
    text-align: center;
    font-size: 1.5vw;
    color: #fff; /* Biały tekst */
    border-style: solid;
    border-radius: 10px; /* Zaokrąglenie krawędzi */
    box-shadow: 0 9px #999; /* Cień pod przyciskiem */
}

.action:hover {
    cursor: pointer;
    background-color: #2980b9; /* Ciemniejszy odcień niebieskiego po najechaniu */
}

.action:active {
    background-color: #115786;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#feedback {
    margin-top: 70vh;
    margin-left: 2vw;
}

#browse_users {
    margin-top: 50vh;
    margin-left: 2vw;
}