body {
    font-family: 'Arial', sans-serif;
    background-color: #b1e2ee; /* Jasnoszare tło */
    color: #333;
    margin: 0;
    padding: 0;
}

form {
    width: 50%;
    margin: 20px auto;
    text-align: center;
}

label {
    font-size: 1.2vw;
    margin-right: 10px;
}

select {
    padding: 8px;
    font-size: 1.2vw;
}

button {
    padding: 8px;
    font-size: 1.2vw;
    background-color: #3498db; /* Jasnoniebieski */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9; /* Ciemniejszy odcień niebieskiego po najechaniu */
}

button:active {
    background-color: #115786;
}

table {
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #e74c3c; /* Czerwony */
    color: #fff;
}

tr:nth-child(even) {
    background-color: #d4d4d4; /* Jasny odcień szaro-niebieskiego */
}
tr:nth-child(odd) {
    background-color: #f8f8f8; /* Jasny odcień szaro-niebieskiego */
}

tr:hover {
    background-color: #ecf0f1; /* Jasny odcień niebieskiego po najechaniu */
}

#erase_button {
    position: absolute;
    float: left;
    width: 10vw;
    height: 7.2vh;
    margin-top: 70vh;
    margin-left: 2vw;
    padding-top: 2.8vh;
    background-color: #3498db; /* Jasnoniebieski */
    text-align: center;
    font-size: 1.5vw;
    color: #fff; /* Biały tekst */
    border-style: solid;
    border-radius: 10px; /* Zaokrąglenie krawędzi */
    box-shadow: 0 9px #999; /* Cień pod przyciskiem */
}

#erase_button:hover {
    cursor: pointer;
    background-color: #2980b9; /* Ciemniejszy odcień niebieskiego po najechaniu */
}

#erase_button:active {
    background-color: #115786;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}